:root {
    --bg-main: #F5F5F5;
    --bg-sidebar: #E0E0E0;
    --bg-page: #E0E0E0;
    --border-light: #DCDCDC;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-page);
  }
  
  #root > * {
    background: transparent;
  }
  .sidebar {
    width: 240px;
    background-color: var(--bg-sidebar);
  }